
h1 {
    background-color: black;
    border: dashed;
    border-width: 20px;
    border-color: green yellow blue orange;
    margin: 50px;
    padding: 200px;
    text-align: center;
    /* text-size-adjust: auto; */
    color: sienna;
    border-radius: 30px;
    font-family:cursive;
    font-size: xx-large;
}
.box{

    margin: 17px;
    padding: 06px 26px;
    background-color: black;
    color: aqua;
    border-color: white;
    border: solid;
    border-width: thick;
    font-size: xx-large;
    font-family: fantasy;
    border-radius: 20px;

}
.box:hover{
    background-color: aqua;
    color: black;
    border-color: black red blue green;
    transform: scaley(0.5
    );
    /* transform: rotate(1.5); */
    transition: 3s;
}
.box::visited{
    background-color: green;
    color: blue;
}
.mydiv{
    /* float: left; */
    background-color: aqua;
    border: solid;
    height: 200px;
    width: 200px;
}
.div{
   
    background-color: blue;
    border: solid;
    height: 200px;
    width: 200px;

}
.re{
    /* float: left; */
    background-color: brown;
    border: solid;
    height: 200px;
    width: 200px;
}
.be{
    /* float: left; */
    background-color:chartreuse;
    border: solid;
    height: 200px;
    width: 200px;
}
.fl{
    float: left;
}
.pos{
    height: 200px;
    width: 200px;
    border: solid;
    background-color: blueviolet;
    position: static;
    /* top: 50px;
    left: 600px; */
}
.con{
    height: 80px;
    width: 80px;
    border: solid;
    border-radius: 50%;
    background-color:whitesmoke;
    position: relative;
    top: -150px;
    left: 60px;
}
.container{
    display: flex;
    /* flex-direction: column; */
    height: 400px;
    width: 300px;
    align-self: stretch;
}
.one{
    background-color: aqua;
    width: 200px;
    height: 200px;
}
.two{
    background-color: green;
    width: 200px;
    height: 200px;
}
.three{
   
    width: 200px;
    height: 200px;
     background-color: yellow;
}